<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    <title>{% block title %}Dental Central{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Sully">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.css">

    {% block stylesheets %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
    <body class="text-center">

    <ul id="nav">
        <li class="nav-logo"><a class="logo" href="/dashboard"><img width="60" height="60" src="{{ asset('images/logo.png') }}" alt="Dental Central Logo"></a></li>
        <li class="dashboard"><a id="dashboard" class="active" href="/dashboard">My Account</a></li>
        <li class="login"><a class="login" href="/login">Log in</a></li>
        <li class="register"><a class="register" href="/register">Sign Up</a></li>
    </ul>
    <script>
        {% if app.user == false %}
        $(".dashboard a").css("display", "none");
        {% endif %}
        {% if app.user %}
        $(".login a").attr("href", "/logout").text("Log Out");
        $(".register a").css("display", "none");
        {% endif %}
    </script>
        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
