{% extends "::base.html.twig" %}

{% block body %}
    <div class="panel-group" id="accordion">
        <h1>User FAQ's</h1>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        How Do I Sign Up?</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">To Sign up for DentalCentral, you may contact your dental office to have them
                    create your account, or click <input id="signinhelp" type="submit" value="Here"
                                                         onclick="window.location='/register'"/> to register now!
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        I've Signed Up, Now What?</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">Once you signed up, you should be automatically logged in. If this didn't
                    happen, you can click <input id="signinhelp" type="submit" value="Here"
                                                 onclick="window.location='/login'"/> to sign in!
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                        Where Can I View My Calendar, Account Info, etc?</a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">Once you are <strong>signed in</strong>, you can view your upcoming appointments
                    by clicking <input id="signinhelp" type="submit" value="Here"
                                       onclick="window.location='/dashboard'"/>
                    <br>
                    To view/edit your account details, click <input id="signinhelp" type="submit" value="Here"
                                                                    onclick="window.location='/profile/edit'"/> <br>
                    To schedule an appointment, call or email your dental facility! <br>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                        How Do I Cancel/Schedule An Appointment?</a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">To schedule and cancel appointments, please <strong>call your dental facility to
                        have them make these changes.</strong></div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                        I Have A Red Appointment On My Calendar, What Is It/How Do I Remove It?</a>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">A red appointment on your calendar means it has been <strong>cancelled</strong>. You can remove this appointment from your calendar by clicking the blue button at the top of your screen on your calendar page. <br>
                    To reschedule this appointment, please contact your dental facility to reschedule. Call or email by clicking HERE.
                </div>
            </div>
        </div>
        <script>
            {% if app.user.role == "Admin" %}
            $("div.panel-group").append("<br>");
            $("div.panel-group").append("<h1>Admin FAQ's</h1>");
            $("div.panel-group").append("<div class=\"panel panel-default\">\n" +
                "            <div class=\"panel-heading\">\n" +
                "                <h4 class=\"panel-title\">\n" +
                "                    <a data-toggle=\"collapse\" data-parent=\"#accordion\" href=\"#collapse6\">\n" +
                "                        How Do I Add/Remove/Edit Users?</a>\n" +
                "                </h4>\n" +
                "            </div>\n" +
                "            <div id=\"collapse5\" class=\"panel-collapse collapse\">\n" +
                "                <div class=\"panel-body\"><strong>To Add A New User/Staff Member</strong> , click<input id=\"signinhelp\" type=\"submit\" value=\"Here\"\n" +
                "                                                                    onclick=\"window.location='/users/add'\"/></div> <strong>To View All Users And Edit/Delete Their Accounts</strong>, click <input id=\"signinhelp\" type=\"submit\" value=\"Here\"\n" +
                "                                                                    onclick=\"window.location='/users/list'\"/>\n" +
                "            </div>\n" +
                "        </div>");

            $("div.panel-group").append("<div class=\"panel panel-default\">\n" +
                "            <div class=\"panel-heading\">\n" +
                "                <h4 class=\"panel-title\">\n" +
                "                    <a data-toggle=\"collapse\" data-parent=\"#accordion\" href=\"#collapse7\">\n" +
                "                        How Do I Add/Remove/Edit Appointments?</a>\n" +
                "                </h4>\n" +
                "            </div>\n" +
                "            <div id=\"collapse7\" class=\"panel-collapse collapse\">\n" +
                "                <div class=\"panel-body\"><strong>To Add New Appointments, First Click </strong><input id=\"signinhelp\" type=\"submit\" value=\"Here\"\n" +
                "                                       onclick=\"window.location='/appointments'\"/> and simply click and drag on the calendar to begin adding a new appointment. Upon selecting a time slot, you will be asked to provide details regarding the appointment. Once you are done, press \"Submit\" and your new appointment will be added to the system and calendar! <br> <strong>To Cancel/Remove Appointments</strong>, simply click on the desired appointment on the schedule and click delete! A confirmation message will be sent to the user. <br> <strong>To Edit Existing Appointments </strong>, simply click the desired appointment and edit the details. Once you have made the necessary changes, press Submit" +
                "            </div>\n" +
                "        </div>");

            {% endif %}
        </script>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}

