<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    <title>{% block title %}Dental Central{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Sully">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.css">

    {% block stylesheets %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body class="text-center">

<ul class="nav-menu">
    <li class="nav-logo"><a class="nav-logo" href="/dashboard"><img width="60" height="60"
                                                                    src="{{ asset('images/logo.png') }}"
                                                                    alt="Dental Central Logo"></a></li>
    <li class="nav-dashboard"><a class="nav-dashboard active" href="/dashboard">My Account</a></li>
    <li class="nav-login"><a class="nav-login" href="/login">Log in</a></li>
    <li class="nav-register"><a class="nav-register" href="/register">Sign Up</a></li>
</ul>
<script>
    {% if app.user == false %}
    $("a.nav-dashboard").css("display", "none");
    $("footer.page-footer.font-small.blue.pt-4.mt-4").css("display", "none");
    // $("footer.page-footer").css("display", "none");
    {% endif %}
    {% if app.user %}
    $("ul.nav-menu").append('<li class="nav-edit-account"><a class="nav-edit-account" href="/profile/edit">Edit Your Account Information</a></li>');
    $("a.nav-login").attr("href", "/logout").text("Log Out");
    $("a.nav-register").css("display", "none");
    {% if app.user.role == "Admin" %}
    $("ul.nav-menu").append('<li class="nav-appointments"><a class="nav-appointments-admin" href="/appointments">Manage All Appointments</a></li>');
    $("ul.nav-menu").append('<li class="nav-add-user"><a class="nav-add-user" href="/users/add">Add New User</a></li>');
    $("ul.nav-menu").append('<li class="nav-list-users"><a class="nav-list-users" href="/users/list">View/Manage Users</a></li>');
    {% endif %}
    {% if app.user.role == "Dentist" or app.user.role == "Hygienist" %}
    $("ul.nav-menu").append('<li class="nav-edit-availability"><a class="nav-edit-availability" href="/availability/edit">Edit Availability</a></li>');
    {% endif %}
    {% endif %}
</script>
<br>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}

</body>
<div>
    <h1>Help Center</h1>
</div>
<!--/.Footer-->
<footer class="page-footer font-small blue pt-4 mt-4">

    <!--Footer Links-->
    <div class="container-fluid text-center text-md-left">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                <h5 class="text-uppercase">Dental Central</h5>
                <p>Welcome back to DentalCentral, the most innovative scheduling system available! <br> We at
                    DentalCentral aim to make your appointment scheduling a breeze with our innovative technology.</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="/register">Sign Up For DentalCentral</a>
                    </li>
                    <li>
                        <a href="/login">Login</a>
                    </li>
                    <li>
                        <a href="{{ path('test_help') }}">Help/User Guide</a>
                    </li>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href="/"> DentalCentral </a>
    </div>
    <!--/.Copyright-->

</footer>
</html>
