.btn-block {
    width: 40% !important;
    margin: auto;
}

#calendar-popup {
    display: none;
    position: absolute;
    margin-bottom: 0;
    padding: 0 1.33em;
    z-index: 1000;

    border: solid rgba(200, 200, 200, 0.75) 2px;
    border-radius: 10px;
    color: black;
    background: #FFF;
}

#calendar-popup * {
    display: block;
}

#calendar-popup header {
    text-align: center;
    font-size: 1.5em;
    line-height: 1em;
    margin-bottom: 0.5em;
}

/* #calendar-popup button.close {
  margin: 10px 10px 0 0;
} */

#calendar-popup label,
#calendar-popup input,
#calendar-popup textarea {
    font-size: 0.9em;
    font-weight: normal;
    margin-bottom: 0;
    padding: 0;
    width: 100%;
}

#calendar-popup input {
    margin-bottom: 0.5em;
    padding: 0;
}

#calendar-popup time {
    font-style: italic;
    line-height: 1em;
    margin-top: 0;
}

#calendar-popup form,
#calendar-popup div#event {
    margin: 0.75em 0 0.75em 0;
    /*   padding-left: 20px; */
}

#calendar-popup li {
    margin-bottom: 0.33em
}

#calendar-popup li.location,
#calendar-popup li.details {
    font-size: 0.85em;
    color: #333;
}

#calendar-popup div.prong {
    position: relative;
    float: right;

    bottom: 0;
    right: 15px;

    height: 0;
    width: 20px;

}

#calendar-popup div.prong div.bottom-prong-dk {
    position: relative;
    top: 0;
    left: 0;

    border: 10px solid;
    border-color: rgba(200, 200, 200, 0.75) transparent;
    border-bottom: 0;
}

#calendar-popup div.prong div.bottom-prong-lt {
    position: relative;
    top: -10px;
    left: 2px;
    width: 0;

    border: 8px solid;
    border-color: white transparent;
    border-bottom: 0;
}

#calendar-popup div.prong div.top-prong-dk {
    position: relative;
    top: 2px;
    left: 0;

    border: 10px solid;
    border-color: rgba(200, 200, 200, 0.75) transparent;
    border-top: 0;
}

#calendar-popup div.prong div.top-prong-lt {
    position: relative;
    top: -6px;
    left: 2px;
    width: 0;

    border: 8px solid;
    border-color: white transparent;
    border-top: 0;
}

.fc-slats tr {
    height: 40px;
}

.btn-danger {
    width: 100% !important;
    margin: auto;
}

img.logo-login {
    margin: auto;
    border: 3px solid black;
    border-radius: 50px;

}

div.login {
    border-radius: 8px;
    width: 60%;
    margin: auto;
    margin-top: 25px;
    padding: 15px;
    background-color: #87ceeb;
}

input#password-login {
    margin: auto;
    width: 35%;
}

input#username-login {
    margin: auto;
    width: 35%;
}

label.label-username {
    width: 75px;
}

label.label-password {
    width: 75px;
}

div.register-now {
    margin: 20px auto auto;
    background-color: #FFA38D;
    padding: 20px;
    width: 60%;
    border-radius: 8px;
}

h2#register-header {
    padding-bottom: 15px;
}

button.btn-register {
    background-color: #FFFFFF;
    border-radius: 8px;
}

input.login-submit {
    border-radius: 8px;
    width: 75px;
    background-color: #FFFFFF;
}

input[id=fos_user_registration_form_email] {
    width: 20%;
    margin: 10px;
}

div.register-div label {
    width: 125px;
    margin-right: 10px;
}

input[id=fos_user_registration_form_username] {
    width: 20%;

}

div.register-div input {
    margin: 5px;
    width: 180px;
}

div.register-div {
    border-radius: 8px;
    width: 60%;
    margin: auto;
    margin-top: 25px;
    padding: 15px;
    background-color: #87ceeb;
}

input.register-submit {
    border-radius: 8px;
    margin-top: 15px;
}

p.login-message-register {
    font-size: 18px;
    text-align: center;
    margin: auto auto 10px;
}

button.btn-dashboard-redirect {
    margin: auto;
    display: block;
    text-align: center;
    border-radius: 8px;
}

div.register-confirm-content {
    margin: auto;
    background-color: #87ceeb;
    padding: 20px;
}

p.register-confirmed {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 15px auto;
}

img.logo-register-confirm {
    margin: auto;
    display: block;
    border-radius: 50%;
    border: 2px solid black;
}

h1.dashboard-welcome {
    color: #FFA949;
    margin-bottom: 10px;
    margin-top: 15px;
}

ul.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li[class |= nav] {
    float: left;
    display: inline;
}

li a[class |= nav] {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav-login {
    float: right;
    margin: auto;
}

li.nav-register {
    float: right;
}

a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #87ceeb;
}

li.nav-logo {
    float: left;
    display: inline;
}

li.nav-logo a.logo {
    padding: 0;
}

button {
    border-radius: 8px;
}

label[for^="user_form"] {
    width: 85px;
}

input[id^="user_form"] {
    width: 250px;
    margin: 5px auto auto;
}

button.btn-add-user {
    margin: 10px;
}

select#user_form_staffRole {
    width: 250px;
}

table.user-table {
    margin: auto;
    width: 875px;
}

h2#current-users {
    margin: 5px auto 20px auto;
}